/** @format */


.line {
  width: 100%;
  display: block;
  height: 25px;
  background-color: #0064b1;
  opacity: 0.75;
}
main {
  margin: 2vh auto;
  border: 1px solid black;
  width: 60%;
  display: block;
}

.hr {
  color: black;
  border: 1px solid black;
}

main h2 {
  text-align: center;
}

label {
  display: block;
  text-align: center;
  width: 100%;
}

.button {
  align-items: center;
}

#period,
#tkomp {
  display: block;
  text-align: center;
  margin: auto;
}

.form-group {
  width: 75%;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
}

input[type="number"] {
  margin: auto;
  text-align: center;
  width: 75%;
}
input[type="text"] {
  margin: auto;
  text-align: center;
  width: 75%;
}

input::placeholder {
  font-size: 1vw;
}

/* validacija
*/

input {
  display: block;
  padding: 8px 16px;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}
input + p {
  display: none;
}

/* validation styles */

.errVr,
.errH,
.errQ {
  color: red;
  font-size: 1.1vw;
  text-align: center;
}

/**/

#btn {
  position: relative;
  display: block;
  margin: 15px auto;
  width: 37%;
  height: 50px;
}

#protekla {
  height: 15px;
  text-align: center;
  font-size: 1.1vw;
}
.none {
  display: none;
}
.display {
  display: block;
  width: 75%;
  height: 15px;
  text-align: center;
  font-size: 1.1vw;
}
#rezultat {
  border: 1px solid black;
  height: 100%;
  text-align: center;
  line-height: 50px;
  width: 75%;
  margin: auto;
  font-size: 1.2vw;
  margin-bottom: 2vh;
}

aside {
  position: absolute;
  top: 20px;
  left: 20px;
}

.div {
  transition: all 500ms ease-in;
}

.show {
  display: block;
  top: 90px;
  left: 20px;
  padding: 5px;
}
::placeholder {
  color: red;
}

.disclamer {
  color: red;
  text-align: center;
}

.copyright {
  background-color: #0064b1;
  height: 30px;
  align-content: center;
  height: 50px;
  align-items: center;
}
.copyright p {
  color: whitesmoke;
  text-align: center;
  line-height: 50px;
}


@media only screen and (max-width: 991px) {
  main {
    width: 80%;
  }
  #rezultat,
  #protekla {
    font-size: 10px;
  }
  input::placeholder {
    font-size: 12px;
  }
  .errVr,
  .errH,
  .errQ,
  .display,
  .copyright p,
  .disclamer {
    font-size: 11px;
  }
}
